<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>LeaderBoard</title>
</head>
<body>
    <h1>Leaderboard sorted by least number of attemtps</h1>
    <table rules="all">
        <tr>
            <th>Name</th>
            <th>Attempts</th>
        </tr>
        {% for x in leaderboard %}
        <tr>
            <td>{{ x.name }}</td>
            <td>{{ x.attempts }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="center">
        <form action="/reset" method="get">
            <input type="submit" id="btn" value="Play Again!">
        </form>
    </div>
</body>
</html>