<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Display</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
</head>
<body>
    <div class="container">
        <h1>The current time and date</h1>
    </div>
    <div class="container">
        <p>{{time1}}</p>
        <p>{{time2}}</p>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>